.tag-view {
    padding: 10px 60px 10px 12px;
    background: #ffffff;
    border: solid 1px #f0f0f0;
    border-radius: 8px;
    position: relative;
    display: inline-block;
    font-size: 28px;
    line-height: 28px;
    .iconguanbi{
        display: block;
        position: absolute;
        width: 60px;
        height: 30px;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        text-align: center;
        font-size: 18px;
        color: #999999;
        cursor: pointer;
    }
}







@media screen and (min-width: 768PX){
.tag-view {
    padding: 10PX 60PX 10PX 12PX;
    background: #ffffff;
    border: solid 1PX #f0f0f0;
    border-radius: 8PX;
    position: relative;
    display: inline-block;
    font-size: 28PX;
    line-height: 28PX;
    .iconguanbi{
        display: block;
        position: absolute;
        width: 60PX;
        height: 30PX;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        text-align: center;
        font-size: 18PX;
        color: #999999;
        cursor: pointer;
    }
}







}