.drag-view{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
    color: #b3b3b3;
    box-sizing: content-box;
    border: dashed 8px #dddddd;
    &.enter{
        background: #7c7c7c;
    }
}












@media screen and (min-width: 768PX){
.drag-view{
    height: 80PX;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #aaaaaa;
    color: #ffffff;
    &.enter{
        background: #7c7c7c;
    }
}












}