.drag-view{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #aaaaaa;
    color: #ffffff;
    &.enter{
        background: #7c7c7c;
    }
}












@media screen and (min-width: 768PX){
.drag-view{
    height: 80PX;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #aaaaaa;
    color: #ffffff;
    &.enter{
        background: #7c7c7c;
    }
}












}