.progress-view {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.72);
    display: flex;
    justify-content: center;
    align-items: center;
    .box{
        padding: 30px 50px;
        background: #ffffff;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: solid 1px #aeaeae;
        .loading{
            width: 60px;
            height: 60px;
            background: url(../../assets/img/loading.png) no-repeat center;
            background-size: contain;
            animation: turns 1200ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        .tip{
            margin-top: 16px;
            text-align: center;
            font-size: 24px;
            color: #4c8697;
            width: 120px;
        }
        @keyframes turns{
            0%{transform: rotate(0deg)}
            100%{transform: rotate(360deg);}
        }
    }
}








@media screen and (min-width: 768PX){
.progress-view {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.72);
    display: flex;
    justify-content: center;
    align-items: center;
    .box{
        padding: 30PX 50PX;
        background: #ffffff;
        border-radius: 12PX;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: solid 1PX #aeaeae;
        .loading{
            width: 60PX;
            height: 60PX;
            background: url(../../assets/img/loading.png) no-repeat center;
            background-size: contain;
            animation: turns 1200ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        .tip{
            margin-top: 16PX;
            text-align: center;
            font-size: 24PX;
            color: #4c8697;
            width: 120PX;
        }
        @keyframes turns{
            0%{transform: rotate(0deg)}
            100%{transform: rotate(360deg);}
        }
    }
}








}