.list-view {

    .title {
        text-align: center;
    }

    .iconfont {
        font-size: 32px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .iconbianji{
        left: 15px;
    }
    .iconadd-fill-copy{
        right: 15px;
        font-size: 36px;
    }
    .over-btn{
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 15px;
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 30px;
        .item {
            width: 222px;
            height: 260px;
            background-color: #eeeeee;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin-left: 20px;
            margin-top: 20px;
            position: relative;
            .btn{
                position: absolute;
                left: 12px;
                top: 12px;
            }
        }
    }
}

@media screen and (min-width: 768PX){
.list-view {

    .title {
        text-align: center;
    }

    .iconfont {
        font-size: 32PX;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .iconbianji{
        left: 15PX;
    }
    .iconadd-fill-copy{
        right: 15PX;
        font-size: 36PX;
    }
    .over-btn{
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 15PX;
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 30PX;
        .item {
            width: 222PX;
            height: 260PX;
            background-color: #eeeeee;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin-left: 20PX;
            margin-top: 20PX;
            position: relative;
            .btn{
                position: absolute;
                left: 12PX;
                top: 12PX;
            }
        }
    }
}

}