.lately-tag-view {
    display: flex;
    font-size: 28px;
    align-items: flex-start;
    .tip{
        color: #666666;
        line-height: 28px;
        transform: translateY(11px);
    }
    .list{
        flex: 1;
        .tag{
            cursor: pointer;
            display: inline-block;
            padding: 10px 16px;
            font-size: 28px;
            line-height: 28px;
            border-radius: 16px;
            background: #ffffff;
            color: #999999;
            border: solid 1px #f0f0f0;
            margin-right: 12px;
            margin-bottom: 12px;
        }
        .refresh{
            cursor: pointer;
            vertical-align: top;
            width: 40px;
            height: 40px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            border-radius: 50%;
            display: inline-block;
            transform: translateY(4px);
            background-image: url(../../assets/img/refresh.png);
        }
    }
    
}
@media screen and (min-width: 768PX){
.clip-view {
    .title {
        text-align: center;
    }

    .icon-liebiao {
        font-size: 32PX;
        position: absolute;
        left: 15PX;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    .tip {
        color: #999999;
        padding: 10PX 20PX;
    }

    .canvas-box{
        text-align: center;
        background: #000000;
        .canvas {
            display: block;
            width: 100%;
            margin-bottom: 10PX;
        }
    }
    

    .draw {
        display: none;
    }

    .btn {
        width: 712PX;
        margin: 40PX auto;
        background: rgb(0, 217, 255);
        text-align: center;
        height: 60PX;
        line-height: 60PX;
        color: #ffffff;
        cursor: pointer;
    }

    .pic {
        width: 100%;
        margin-top: 20PX;
    }
}
}