.url-view {
    font-size: 30px;
    .row{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .txt {
        text-align: center;
        display: block;
        flex: 1;
        padding: 10px;
        text-align: left;
        margin-right: 20px;
        border: solid 1px #eeeeee;
        &:focus {
            border: solid 1px #88cce7;
            outline: none;
        }
    }

    .btn {
        width: 80px;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        color: #29b0ff;
        &:active{
            color: darken(#29b0ff, 20%);
        }
    }

    .ico{
        width: 36px;
        height: 36px;
        cursor: pointer;
        background: url(../../assets/img/more.png) no-repeat center;
        background-size: contain;
        margin-left: 8px;
        &:active{
            opacity: 0.8;
        }
    }
    .opt{
        margin-top: 16px;
    }
    .more{
        display: block;
        box-sizing: border-box;
        padding: 10px;
        width: 100%;
        height: 120px;
        max-width: 100%;
        min-width: 100%;
        border: solid 1px #eeeeee;
        &:focus {
            border: solid 1px #88cce7;
            outline: none;
        }
    }
}








@media screen and (min-width: 768PX){
.url-view {
    font-size: 30PX;
    .row{
        margin-top: 20PX;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .txt {
        text-align: center;
        display: block;
        flex: 1;
        padding: 10PX;
        text-align: left;
        margin-right: 20PX;
        border: solid 1PX #eeeeee;
        &:focus {
            border: solid 1PX #88cce7;
            outline: none;
        }
    }

    .btn {
        width: 80PX;
        height: 40PX;
        line-height: 40PX;
        cursor: pointer;
        color: #29b0ff;
        &:active{
            color: darken(#29b0ff, 20%);
        }
    }

    .ico{
        width: 36PX;
        height: 36PX;
        cursor: pointer;
        background: url(../../assets/img/more.png) no-repeat center;
        background-size: contain;
        margin-left: 8PX;
        &:active{
            opacity: 0.8;
        }
    }
    .opt{
        margin-top: 16PX;
    }
    .more{
        display: block;
        box-sizing: border-box;
        padding: 10PX;
        width: 100%;
        height: 120PX;
        max-width: 100%;
        min-width: 100%;
    }
}








}