.alert-view {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.72);
    opacity: 0;
    animation: fade 300ms;
    animation-fill-mode: forwards;
    .box{
        width: 400px;
        background: #ffffff;
        opacity: 0;
        animation: move 300ms;
        animation-fill-mode: forwards;
        animation-delay: 100ms;
        .tip{
            padding: 40px;
            color: #666666;
            font-size: 28px;
        }
        .btns{
            font-size: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: solid 1px #e9e9e9;
            .btn{
                height: 80px;
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #18c9ff;
                background: #ffffff;
                &:active{
                    background: darken(#ffffff, 20%);
                }
                &:nth-child(2){
                    border-left: solid 1px #e9e9e9;
                    color: #ff0a1f;
                }
            }
        }
    }
}

@keyframes fade{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes move{
    0%{opacity: 0;transform: translateY(60px);}
    30%{opacity: 1;transform: translateY(40px);}
    100%{opacity: 1;transform: translateY(0px);}
}




@media screen and (min-width: 768PX){
.alert-view {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.72);
    opacity: 0;
    animation: fade 300ms;
    animation-fill-mode: forwards;
    .box{
        width: 400PX;
        background: #ffffff;
        opacity: 0;
        animation: move 300ms;
        animation-fill-mode: forwards;
        animation-delay: 100ms;
        .tip{
            padding: 40PX;
            color: #666666;
            font-size: 28PX;
        }
        .btns{
            font-size: 28PX;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: solid 1PX #e9e9e9;
            .btn{
                height: 80PX;
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #18c9ff;
                background: #ffffff;
                &:active{
                    background: darken(#ffffff, 20%);
                }
                &:nth-child(2){
                    border-left: solid 1PX #e9e9e9;
                    color: #ff0a1f;
                }
            }
        }
    }
}

@keyframes fade{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes move{
    0%{opacity: 0;transform: translateY(60PX);}
    30%{opacity: 1;transform: translateY(40PX);}
    100%{opacity: 1;transform: translateY(0PX);}
}




}