.page-view{
    .header{
        position: fixed;
        width: 100%;
        background: #1c96dd;
        color: #ffffff;
        height: 72px;
        line-height: 72px;
        z-index: 1;
        left: 0;
        top: 0;
        overflow: hidden;
    }
    .content{
        // margin-top: 60px;
        position: fixed;
        top: 72px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        overflow-y: auto;
    }
    
}


@media screen and (min-width: 768PX){
.page-view{
    .header{
        position: fixed;
        width: 100%;
        background: #1c96dd;
        color: #ffffff;
        height: 72PX;
        line-height: 72PX;
        z-index: 1;
        left: 0;
        top: 0;
        overflow: hidden;
    }
    .content{
        // margin-top: 60PX;
        position: fixed;
        top: 72PX;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        overflow-y: auto;
    }
    
}


}