.reflash-view {
    position: fixed;
    width: 64px;
    height: 64px;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 24px;
    bottom: 48px;
    .icon-shuaxin1{
        font-size: 64px;
        color: #f33030;
        &:active{
            color: darken(#f33030, 20%);
        }
    }
}









@media screen and (min-width: 768PX){
.reflash-view {
    position: fixed;
    width: 64PX;
    height: 64PX;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 24PX;
    bottom: 48PX;
    .icon-shuaxin1{
        font-size: 64PX;
        color: #f33030;
        &:active{
            color: darken(#f33030, 20%);
        }
    }
}









}