.checkbox-view {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 1px #aeaeae;
    .box{
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #0ea4fc;
    }
}